@font-face {
	font-family: 'icomoon';
	src:url('icomoon.eot?8ya9ct');
	src:url('icomoon.eot?8ya9ct#iefix') format('embedded-opentype'),
		url('icomoon.ttf?8ya9ct') format('truetype'),
		url('icomoon.woff?8ya9ct') format('woff'),
		url('icomoon.svg?8ya9ct#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-arrow-down-circle:before {
	content: "\e800";
}
.icon-arrow-down:before {
	content: "\e801";
}
.icon-arrow-left-circle:before {
	content: "\e802";
}
.icon-arrow-left:before {
	content: "\e803";
}
.icon-arrow-right-circle:before {
	content: "\e804";
}
.icon-arrow-right:before {
	content: "\e805";
}
.icon-arrow-up-circle:before {
	content: "\e806";
}
.icon-arrow-up:before {
	content: "\e807";
}
.icon-coffee-cup:before {
	content: "\e808";
}
.icon-cross:before {
	content: "\e809";
}
.icon-diamond:before {
	content: "\e80a";
}
.icon-bubble:before {
	content: "\e600";
}
.icon-checkmark-circle:before {
	content: "\e601";
}
.icon-checkmark-circle-filled:before {
	content: "\e602";
}
.icon-cross-circle:before {
	content: "\e603";
}
.icon-cross-circle-filled:before {
	content: "\e604";
}
.icon-menu:before {
	content: "\e605";
}
.icon-embed:before {
	content: "\e80b";
}
.icon-embed2:before {
	content: "\e80c";
}
.icon-terminal:before {
	content: "\e80d";
}
.icon-share2:before {
	content: "\e80e";
}
.icon-mail:before {
	content: "\e80f";
}
.icon-mail2:before {
	content: "\e810";
}
.icon-mail3:before {
	content: "\e811";
}
.icon-mail4:before {
	content: "\e812";
}
.icon-google:before {
	content: "\e813";
}
.icon-google-plus:before {
	content: "\e814";
}
.icon-google-plus2:before {
	content: "\e815";
}
.icon-google-plus3:before {
	content: "\e816";
}
.icon-google-drive:before {
	content: "\e817";
}
.icon-facebook:before {
	content: "\e818";
}
.icon-facebook2:before {
	content: "\e819";
}
.icon-facebook3:before {
	content: "\e81a";
}
.icon-ello:before {
	content: "\e81b";
}
.icon-instagram:before {
	content: "\e81c";
}
.icon-twitter:before {
	content: "\e81d";
}
.icon-twitter2:before {
	content: "\e81e";
}
.icon-twitter3:before {
	content: "\e81f";
}
.icon-feed2:before {
	content: "\e820";
}
.icon-feed3:before {
	content: "\e821";
}
.icon-feed4:before {
	content: "\e822";
}
.icon-youtube:before {
	content: "\e823";
}
.icon-youtube2:before {
	content: "\e824";
}
.icon-youtube3:before {
	content: "\e825";
}
.icon-twitch:before {
	content: "\e826";
}
.icon-vimeo:before {
	content: "\e827";
}
.icon-vimeo2:before {
	content: "\e828";
}
.icon-vimeo3:before {
	content: "\e829";
}
.icon-lanyrd:before {
	content: "\e82a";
}
.icon-flickr:before {
	content: "\e82b";
}
.icon-flickr2:before {
	content: "\e82c";
}
.icon-flickr3:before {
	content: "\e82d";
}
.icon-flickr4:before {
	content: "\e82e";
}
.icon-picassa:before {
	content: "\e82f";
}
.icon-picassa2:before {
	content: "\e830";
}
.icon-dribbble:before {
	content: "\e831";
}
.icon-dribbble2:before {
	content: "\e832";
}
.icon-dribbble3:before {
	content: "\e833";
}
.icon-forrst:before {
	content: "\e834";
}
.icon-forrst2:before {
	content: "\e835";
}
.icon-deviantart:before {
	content: "\e836";
}
.icon-deviantart2:before {
	content: "\e837";
}
.icon-steam:before {
	content: "\e838";
}
.icon-steam2:before {
	content: "\e839";
}
.icon-dropbox:before {
	content: "\e83a";
}
.icon-onedrive:before {
	content: "\e83b";
}
.icon-github:before {
	content: "\e83c";
}
.icon-github2:before {
	content: "\e83d";
}
.icon-github3:before {
	content: "\e83e";
}
.icon-github4:before {
	content: "\e83f";
}
.icon-github5:before {
	content: "\e840";
}
.icon-wordpress:before {
	content: "\e841";
}
.icon-wordpress2:before {
	content: "\e842";
}
.icon-joomla:before {
	content: "\e843";
}
.icon-blogger:before {
	content: "\e844";
}
.icon-blogger2:before {
	content: "\e845";
}
.icon-tumblr:before {
	content: "\e846";
}
.icon-tumblr2:before {
	content: "\e847";
}
.icon-yahoo:before {
	content: "\e848";
}
.icon-tux:before {
	content: "\e849";
}
.icon-apple:before {
	content: "\e84a";
}
.icon-finder:before {
	content: "\e84b";
}
.icon-android:before {
	content: "\e84c";
}
.icon-windows:before {
	content: "\e84d";
}
.icon-windows8:before {
	content: "\e84e";
}
.icon-soundcloud:before {
	content: "\e84f";
}
.icon-soundcloud2:before {
	content: "\e850";
}
.icon-skype:before {
	content: "\e851";
}
.icon-reddit:before {
	content: "\e852";
}
.icon-linkedin:before {
	content: "\e853";
}
.icon-linkedin2:before {
	content: "\e854";
}
.icon-lastfm:before {
	content: "\e855";
}
.icon-lastfm2:before {
	content: "\e856";
}
.icon-delicious:before {
	content: "\e857";
}
.icon-stumbleupon:before {
	content: "\e858";
}
.icon-stumbleupon2:before {
	content: "\e859";
}
.icon-stackoverflow:before {
	content: "\e85a";
}
.icon-pinterest:before {
	content: "\e85b";
}
.icon-pinterest2:before {
	content: "\e85c";
}
.icon-xing:before {
	content: "\e85d";
}
.icon-xing2:before {
	content: "\e85e";
}
.icon-flattr:before {
	content: "\e85f";
}
.icon-foursquare:before {
	content: "\e860";
}
.icon-paypal:before {
	content: "\e861";
}
.icon-paypal2:before {
	content: "\e862";
}
.icon-paypal3:before {
	content: "\e863";
}
.icon-yelp:before {
	content: "\e864";
}
.icon-file-pdf:before {
	content: "\e865";
}
.icon-file-openoffice:before {
	content: "\e866";
}
.icon-file-word:before {
	content: "\e867";
}
.icon-file-excel:before {
	content: "\e868";
}
.icon-libreoffice:before {
	content: "\e869";
}
.icon-html5:before {
	content: "\e86a";
}
.icon-html52:before {
	content: "\e86b";
}
.icon-css3:before {
	content: "\e86c";
}
.icon-git:before {
	content: "\e86d";
}
.icon-svg:before {
	content: "\e86e";
}
.icon-codepen:before {
	content: "\e86f";
}
.icon-chrome:before {
	content: "\e870";
}
.icon-firefox:before {
	content: "\e871";
}
.icon-IE:before {
	content: "\e872";
}
.icon-opera:before {
	content: "\e873";
}
.icon-safari:before {
	content: "\e874";
}
.icon-IcoMoon:before {
	content: "\e875";
}

